<footer class="footer">
  <div class="footer__button">
    <a href="#"
    class="footer__button--link"
        title="Subir al inicio de la página"
        ><img
      src="./assets/images/ico-arrow.svg"
      alt="Subir al inicio de la página"
    /></a>
  </div>
  <div class="footer__container">
    <nav class="footer__menu1">
      <ul class="footer__menu--list">
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Articles</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Books</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Events</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Reasons </a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Menú para ir a la página de Adalab"> Tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__menu2">
      <ul class="footer__menu--list">
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Twitter</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Instagram</a>
        </li>
        <li>
          <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
          title="Ir a la página de Adalab">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <div class="footer__container--small">
    <small class="footer__container--small-copy">&copy; 2017</small>
    <small class="footer__container--small-copy">we <span class="footer__container--small-span">&#10084</span>components</small>
    </div>  
  </div>
</footer>

