<footer class="footer">
  <img
    src="./assets/images/ico-arrow.svg"
    alt="Botón para hacer subir al inicio de la página"
    title="Botón para subir al inicio de la página"
  />
  <nav>
    <ul>
      <li>
        <a href="#">Articles</a>
      </li>
      <li>
        <a href="#">Books</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">Reasons </a>
      </li>
      <li>
        <a href="#"> Tips</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <a href="#">Twitter</a>
      </li>
      <li>
        <a href="#">Instagram</a>
      </li>
      <li>
        <a href="#">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <small>© 2017 we❤︎components</small>
</footer>
