<header class="header">
  <div class="header__hero">
    <div class="header__hero--menu">
      <img
        src="./assets/images/ico-menu.svg"
        alt="Botón de menú"
        title="Botón de menú"
      />
    </div>
    <div class="header__hero--container">
      <h1 class="header__hero--title">Anonymous proxy</h1>
      <p class="header__hero--content">In hac habitasse platea dictumst.</p>
      <div class="header__hero--scroll-button">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="Botón para hacer scroll down"
          title="Botón para hacer scroll down"
        />
      </div>
    </div>
  </div>
</header>
