<header class="header">
  <div class="header__hero">
    <div class="header__hero--menu">
      <a
        href="https://adalab.es/"
        target="_blank"
        title="Menú para ir a la página de Adalab"
        ><img
          src="./assets/images/ico-menu.svg"
          alt="Menú para ir a la página de Adalab"
      /></a>
    </div>
    <div class="header__hero--container">
      <h1 class="header__hero--title">Anonymous proxy</h1>
      <p class="header__hero--content">In hac habitasse platea dictumst.</p>
      <div class="header__hero--button">
        <a
          class="header__hero--button-link"
          href="#reasons"
          title="Ir a la sección 3 Reasons To Purchase"
          ><img
            src="./assets/images/ico-scroll-down.svg"
            alt="Ir a la sección 3 Reasons To Purchase"
        /></a>
      </div>
    </div>
  </div>
</header>
