.reasons {
  height: 624px;
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5;
  justify-items: center;
  align-items: center;
  padding: 30px 15px 60px 15px;
  @media all and (min-width: 768px) {
    height: 397px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 30px 38px 60px 38px;
  }
  @media all and (min-width: 1200px) {
    height: 427px;
    padding: 60px 83px;
  }
  &__title {
    font-family: $font-title;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $color-secondary;
    text-transform: capitalize;
    padding-bottom: 45px;
    @media all and (min-width: 768px) {
      grid-column: 1/4;
      font-size: 26px;
      line-height: 1.73;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
      line-height: 1.41;
    }
  }

  &__article {
    text-align: center;
    padding: 0 70px 45px 70px;
    @media all and (min-width: 768px) {
      padding: 0 38px 60px 38px;
    }

    &--title {
      font-family: $font-title;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.67;
      color: $color-secondary;
      @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.25;
      }
    }

    &--content {
      height: 63px;
      font-family: $font-text;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.67;
      color: $color-secondary;
      @media all and (min-width: 768px) {
        height: 68px;
        font-size: 20px;
        line-height: 1.5;
        padding-top: 14px;
      }
    }
  }
  &__button {
    width: 184px;
    height: 45px;
    font-family: $font-text;
    font-size: 20px;
    font-weight: 500;
    color: $color-primary;
    border: solid 2px $color-button;
    background-color: $color-button;
    border-radius: 22.5px;
    cursor: pointer;
    transition: ease 0.3s;
    @media all and (min-width: 768px) {
      grid-column: 1/4;
      width: 210px;
    }
    @media all and (min-width: 1200px) {
      width: 255px;
      text-transform: capitalize;
    }
    &:hover {
      height: 55px;
      background-color: $color-primary;
      color: $color-button;
    }
    &:active {
      background-color: #8ccbea;
      color: $color-primary;
      border-color: #8ccbea;
    }
    &:focus {
      box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
