.tips {
  padding: 30px 15px 45px 15px;
  @media all and (min-width: 768px) {
    padding: 30px 39px 60px 39px;
  }
  @media all and (min-width: 1200px) {
    padding: 60px 275px 60px 275px;
  }

  &__small {
    font-family: $font-text;
    font-size: 14px;
    font-weight: normal;
    line-height: 2.14;
    color: #8ccbea;
    text-transform: capitalize;
  }

  &__title {
    font-family: $font-title;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    color: $color-secondary;
    text-transform: capitalize;
    @media all and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.73;
    }
  }

  &__content {
    font-family: $font-text;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    color: $color-text;
    padding: 15px 0 30px 0;
    @media all and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.5;
      padding: 30px 0;
    }
  }

  &__button {
    font-family: $font-text;
    font-size: 20px;
    font-weight: 500;
    color: $color-button;
    background-color: $color-primary;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $color-button;
    cursor: pointer;
    transition: background-color ease 0.5s;
    transition: color ease 0.3s;
    @media all and (min-width: 768px) {
      width: 91px;
    }
    @media all and (min-width: 1200px) {
      width: 160px;
    }
    &:hover {
      color: $color-primary;
      background-color: $color-button;
    }
    &:focus {
      background-color: #8ccbea;
      border-color: #8ccbea;
    }
  }
}
